<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <a class="brand" href="/">{{ data['info']['team'] }}</a>
            <div class="nav-collapse collapse">
                <ul class="nav">
                    <li class="{{ data['__simulate'] }}"><a href="/simulate">Simulate</a></li>
                    <li class="{{ data['__results'] }}"><a href="#">Results</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
