<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">    
<html><head>    
   <meta http-equiv="Content-Type" content="text/html; charset=windows-1252" charset="UTF-8"> <!-- don't use closing slash in meta tag, it breaks HTML4.01 transitional -->
   <title>Test input text in table</title>
   <link rel="stylesheet" href="static/style1.css">
   
</head><body>

<body>
    <p>
      <strong>S</strong>mart
      <strong>T</strong>hermostat
       Input Page
    </p>


<FORM METHOD="POST" ACTION="/login">    
<table>
      <th></th>
      <th><p>Uncomfortable below</p></th>
      <th><p>Starting to notice below</p></th>
      <th><p>Ideal</p></th>
      <th><p>Starting to notice above</p></th>
      <th><p>Uncomfortable above</p></th>
      <th><p>Same as previous day</p></th>
   </tr>
   <tr>
      <td></td>
      <td><input name="name" type="text" value="65"></td>
      <td><input name="name" type="text" value="67"></td>
      <td><input name="name" type="text" value="72"></td>
      <td><input name="name" type="text" value="76"></td>
      <td><input name="name" type="text" value="78"></td>
      <td><input name="name" type="text" value="test"></td>
      <td><input type="submit"></td>
   </tr>   
</table>
</FORM>


</body></html>